body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat no-repeat;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.15em;
  text-align: center;
  background-position-x: -765px, 130px; background-position-y: -600px, 300px;
}

/*  Background circles for PC */

@media screen and (min-width: 967px){
  body{
    background-position-x: -280px, 700px; background-position-y: -520px, 350px;
  }
}

h1,
h2{
  font-weight: 700;
  font-size: 1.15rem;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

p{
  color: hsl(0, 0%, 59%);
}

hr{
  width: 323px;
  opacity: 0.3;
}

/* Card */
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 325px;
  background-image: url("../images/bg-pattern-card.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: whitesmoke;
  background-position: top center;
  background-size: 375px;
  border-radius: 15px;
  margin: 20vh 0;
  box-shadow: 0 50px 30px rgba(45,50,72, 0.15);
}

@media screen and (min-width: 967px){
  .card{
    width: 340px;
  }
}

.profilePicture{
  border-radius: 96px;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 5px;
  width: 96px;
  margin-top: 5.2em;
}

/* Under Pictures */

.title{
  display: flex;
  justify-content: space-between;
  width: 135px;
}

.title h1, .title p{
  margin-top: 1.36em;
  margin-bottom: 0.3em;
}

.title p, .state{
  color: hsl(227, 10%, 46%)
}

.state{
  font-size: 0.83em;
  margin-top: 0.33em;
  margin-bottom: 1.114em;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Stats */
.stats{
  padding: 1em 0 1.2em;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats h2, .stats p{
  margin: 0;
}

.stats p{
  font-size: 0.76em;
  padding-top: 5px;
}

footer {
  font-size: 11px;
}
footer a { color: hsl(228, 45%, 44%); }